{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "react"
      ]
    }
  },
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread"
  ]
}
