.App{
  display: flex;
}

.container{
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.unselected{
  width: 160px;
  height: 160px;
  background: rgb(111, 112, 103);

}

.selected {
  background: rgb(205, 217, 85);
  width: 160px;
  height: 160px;
}

.nonSelectable{
  background: rgb(217, 85, 85);
  width: 160px;
  height: 160px;
}
