.App{
  display: flex;
}

.container{
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.element{
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #bebebe;
}

.unselected{
  background: rgb(111, 112, 103);
}

.selected {
  background: rgb(205, 217, 85);
  color: #000;
}

.unselected:hover{
  background: rgb(205, 207, 191);
  color: #000;

}

.nonSelectable{
  background: rgb(217, 85, 85);
}

.result{
  margin: 0 10%;
}
